.lds-dual-ring {
  display: inline-block;
  width: 4rem;
  height: 4rem;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #aaa;
  border-color: #aaa transparent #aaa transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  visibility: hidden;
}

html {
  font-size: 16px;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: #f4f4f4;
  font-family: "Open Sans", sans-serif;
  padding-top: 2rem;
  padding-left: 2.7rem;
  padding-right: 2.7rem;
  padding-bottom: 10rem;
  max-width: 78rem;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center;
}
.header .header__links {
  margin-left: auto;
  display: inline-flex;
  justify-content: right;
  align-items: center;
}
.header .header__links > div:not(:last-child) {
  margin-right: 1.25rem;
}

.find-scrim, .list-scrim, .find-scrim-search_bar {
  padding: 1rem;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 2rem;
  box-shadow: 0 3px 6px -6px black;
}

.find-scrim-header, .list-scrim-header {
  margin-top: 3rem;
  margin-bottom: 0.4rem;
  margin-left: 0.3rem;
  font-size: 1.3rem;
  color: grey;
  display: flex;
  align-items: center;
}

.input_error {
  color: #c85153;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.find-scrim-search_bar {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}
.find-scrim-search_bar button {
  padding-left: 2rem;
  background-image: url(../img/search_grey.svg);
  background-repeat: no-repeat;
  background-size: 55% 55%;
  background-position: left -24% center;
}
.find-scrim-search_bar button.valid {
  background-image: url(../img/search_green.svg);
}
.find-scrim-search_bar button:hover:not(.invalid) {
  background-image: url(../img/search_white.svg);
}
.find-scrim-search_bar > div:not(:last-child) {
  width: 25%;
}
.find-scrim-search_bar > div:not(:first-child) {
  margin-left: 2rem;
}

.find-scrim .find-scrim__results__context {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  margin-left: 0.2rem;
}
.find-scrim .find-scrim__results {
  min-height: 5rem;
}
.find-scrim .find-scrim__results .find-scrim__results_loading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.find-scrim .find-scrim__results button {
  padding-left: 2rem;
  background-image: url(../img/message_grey.svg);
  background-repeat: no-repeat;
  background-size: 55% 55%;
  background-position: -17% 60%;
}
.find-scrim .find-scrim__results table {
  width: 100%;
  border-spacing: 0px;
}
.find-scrim .find-scrim__results table th {
  text-align: left;
  padding: 0.5rem 0.9rem;
}
.find-scrim .find-scrim__results table td {
  padding: 0.5rem 0.9rem;
}
.find-scrim .find-scrim__results table tbody tr {
  background-color: #eee;
}
.find-scrim .find-scrim__results table tbody tr:nth-child(2n) {
  background-color: #fff;
}
.find-scrim .find-scrim__results_paging {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  border-top: 2px solid #ddd;
}
.find-scrim .find-scrim__results_paging > div {
  cursor: pointer;
  margin-right: 2rem;
  width: 2rem;
}
.find-scrim .find-scrim__results_paging > div > img {
  width: 1rem;
}

.list-scrim .list-scrim__fields {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.list-scrim button {
  padding-left: 2rem;
  background-image: url(../img/plus_grey.svg);
  background-repeat: no-repeat;
  background-size: 55% 55%;
  background-position: -38% 48%;
}
.list-scrim button.valid {
  background-image: url(../img/plus_green.svg);
}
.list-scrim button:hover:not(.invalid) {
  background-image: url(../img/plus_white.svg);
}
.list-scrim .list-scrim__fields > div {
  flex: 1;
  margin-right: 4rem;
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 17.5rem;
}
.inp .label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
  cursor: text;
}
.inp .border {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 0.125rem;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  height: 2rem;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}
.inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-1.3rem) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: #07f;
  transform: translateY(-1.3rem) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}

.d2sf-btn {
  padding: 0.3rem 0.9rem;
  border-width: 2px;
  border-radius: 5px;
  border-color: #aaa;
  color: #aaa;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.d2sf-btn:focus {
  outline: 0;
}
.d2sf-btn.valid {
  color: #99BD4C;
  border-color: #99BD4C;
}
.d2sf-btn.invalid {
  opacity: 0.2;
}
.d2sf-btn:hover:not(.invalid) {
  color: white;
  background-color: #aaa;
  border-color: #919191;
}
.d2sf-btn:hover:not(.invalid).valid {
  background-color: #99BD4C;
  border-color: #7d9c3a;
}

.multiselect .multiselect__tags {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #c8ccd4;
  min-height: unset;
  height: 36px;
  padding: unset;
  padding-top: 5px;
}
.multiselect .multiselect__single {
  padding: unset;
  margin: unset;
  color: #9098a9;
  padding-top: 2px;
}
.multiselect .multiselect__option {
  white-space: unset;
}

.multiselect__field_label {
  top: -1rem;
  left: 0;
  position: absolute;
  display: inline-block;
  font-size: 0.75rem;
  color: #5a667f;
}

.multiselect__tag.d2sf_tag {
  padding: 0.3rem 0.5rem;
  margin-bottom: 0px;
  margin-right: 0.25rem;
  font-size: 0.8rem;
}

/*# sourceMappingURL=app.css.map */
