<!DOCTYPE html>

  <head>
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title></title>

    <!-- Included CSS Files -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    <link type="text/css" rel="stylesheet" href="static/css/app.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
  </head>

  <body>
    <div id="app">
      <div class="header">
        <img src="./static/img/logo.svg">
        <div class="header__links">
        </div>
      </div>

      <div class="find-scrim-header">
        <div>Find a Scrim</div>
      </div>
      <div class="find-scrim-search_bar">
        <div style="flex: 1">
          <label class="inp" for="lower_mmr">
            <input v-model="input.lower_mmr" v-validate type="number" min=0 max=10000 id="lower_mmr" name="lower_mmr" placeholder=" " data-vv-scope="search">
            <span class="label">Low MMR</span>
            <span class="border"></span>
          </label>
          <div class="input_error">
            {{ errors.first('lower_mmr') }}
          </div>
        </div>
        <div style="flex: 1">
          <label class="inp" for="upper_mmr">
            <input v-model="input.upper_mmr" v-validate min=0 max=10000 type="number" id="upper_mmr" name="upper_mmr" placeholder=" " data-vv-scope="search">
            <span class="label">High MMR</span>
            <span class="border"></span>
          </label>
          <div class="input_error">
            {{ errors.first('upper_mmr') }}
          </div>
        </div>
        <div style="flex: 1.5; position: relative;">
          <div v-if="input.regions.length > 0" class="multiselect__field_label">
            Regions
          </div>
          <div>
            <multiselect 
             v-model="input.regions" 
             :options="regions" 
             :searchable="false" 
             :multiple="true" 
             :close-on-select="false" 
             :clear-on-select="false" 
             :preserve-search="true" 
             :max="4"
             label="abbr"
             track-by="name"
             placeholder="Regions" 
             >
            </multiselect>
          </div>
        </div>
        <div>
          <button class="d2sf-btn" v-bind:class="{valid: !errors.any('search'), invalid: errors.any('search')}" v-on:click="search(true)">Search</button>
        </div>
      </div>
      <div class="find-scrim">
        <div class="find-scrim__results">
          <div v-if="searching" class="find-scrim__results_loading">
            <div class="lds-dual-ring"></div>
          </div>
          <template v-if="!searching">
            <div class="find-scrim__results__context">
              {{ lowerCount }}-{{ upperCount }} of {{ total }} results
            </div>
            <table>
              <thead>
                <tr>
                  <th>Team Name</th>
                  <th>Average MMR</th>
                  <th>Region</th>
                  <th>List Time</th>
                  <th>Contact</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="scrim in scrims" v-bind:class="{'listed-scrim': scrim.id === activeScrimId}">
                  <td>{{ scrim.team_name }}</td>
                  <td>{{ scrim.average_mmr }}</td>
                  <td>
                    <span v-for="c in scrim.codes.split(',')" class="multiselect__tag d2sf_tag">
                      {{ c }}
                    </span>
                  </td>
                  <td>{{ scrim.list_time | date }}</td>
                  <td>{{ scrim.contact }}</td>
                  <td>
                    <button v-if="scrim.id !== activeScrimId" class="d2sf-btn" style="font-size: .8rem">Contact</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="find-scrim__results_paging">
              <div v-bind:class="{hidden: start === 0}" v-on:click="first()">
                <img style="margin-right: -.8rem;" src="static/img/chevron_left.svg">
                <img src="static/img/chevron_left.svg">
              </div>
              <div v-bind:class="{hidden: start === 0}" v-on:click="previous()">
                <img src="static/img/chevron_left.svg">
              </div>
              <div v-bind:class="{hidden: start + limit >= total}" v-on:click="next()">
                <img src="static/img/chevron_right.svg">
              </div>
              <div v-bind:class="{hidden: start + limit >= total}" v-on:click="last()">
                <img src="static/img/chevron_right.svg">
                <img style="margin-left: -.8rem;" src="static/img/chevron_right.svg">
              </div>
            </div>
          </template>
        </div>
      </div>
      <template v-if="token.length === 0">
        <div class="list-scrim-header">
          List Your Team
        </div>
        <div class="list-scrim">
          <div class="list-scrim__fields">
            <div style="flex: 1">
              <label class="inp" for="team_name">
                <input v-model="listTeamInput.team_name" v-validate required type="text" minlength="2" maxlength="100" id="team_name" name="team_name" placeholder=" " data-vv-scope="listTeam">
                <span class="label">Team Name</span>
                <span class="border"></span>
              </label>
              <div class="input_error">
                {{ errors.first('listTeam.team_name') }}
              </div>
            </div>
            <div style="flex: 1">
              <label class="inp" for="average_mmr">
                <input v-model="listTeamInput.average_mmr" v-validate min="0" max="10000" required type="number" id="average_mmr" name="average_mmr" placeholder=" " data-vv-scope="listTeam">
                <span class="label">Average MMR</span>
                <span class="border"></span>
              </label>
              <div class="input_error">
                {{ errors.first('listTeam.average_mmr') }}
              </div>
            </div>
            <div style="flex: 2; position: relative;">
              <div v-if="listTeamInput.region.length > 0" class="multiselect__field_label">
                Regions
              </div>
              <div>
                <multiselect 
                 v-model="listTeamInput.region" 
                 :options="regions" 
                 :searchable="false" 
                 :multiple="true" 
                 :close-on-select="false" 
                 :clear-on-select="false" 
                 :preserve-search="true" 
                 :max="4"
                 :allow-empty="false"
                 label="abbr"
                 track-by="name"
                 placeholder="Regions" 
                 >
                </multiselect>
              </div>
            </div>
            <div style="flex: 1">
              <label class="inp" for="contact">
                <input v-model="listTeamInput.contact" v-validate required minlength="2" maxlength="40" type="text" id="contact" name="contact" placeholder=" " data-vv-scope="listTeam">
                <span class="label">Steam ID</span>
                <span class="border"></span>
              </label>
              <div class="input_error">
                {{ errors.first('listTeam.contact') }}
              </div>
            </div>
          </div>
          <div>
            <button class="d2sf-btn" v-bind:class="{valid: listTeamValid, invalid: !listTeamValid}" v-on:click="listTeam()">List My Team</button>
          </div>
        </div>
      </template>
      <template>
      <!--<template v-if="token.length > 0">-->
        <div class="manage-scrim-header">
          Your Scrim
        </div>
        <div class="manage-scrim">
          <div>
            <ul>
              <li>Your scrim is now listed. You must keep this page open (and remain connected to the internet) to keep your scrim listing. If you lose your listing you can make another.</li>
              <li>Your scrim will be active for 4 hours. After that, you will have to make another scrim.</li>
              <li>If you have found a scrim you can close this page or remove your scrim using the button below. If you do not, you may still recieve steam messages from other users.</li>
            </ul>
          </div>
          <div>
            <button class="d2sf-btn" v-on:click="removeScrim()">Remove Scrim</button>
          </div>
        </div>
      </template>
    </div>
  </body>
</html>
<script src="static/js/app.js"></script>
